<ion-view view-title="Maps">
  <ion-content>
    <ion-refresher
       	pulling-text="Pull to refresh..."
       	on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list>
      <ion-item ng-repeat="map in maps" href="#/app/maps/{{map.id}}">
        {{map.title}}
      </ion-item>
    </ion-list>

    <br>
    <p>
      Created by Jessamyn Smith
      <br>
      <a href="https://github.com/jessamynsmith/ionic-maphilight-example">View the source
        on GitHub</a>
    </p>
  </ion-content>
</ion-view>
